<component name="ArtifactManager">
  <artifact type="war" name="springbootrestapi:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springbootrestapi.war">
      <element id="artifact" artifact-name="springbootrestapi:war exploded" />
    </root>
  </artifact>
</component>